<a href="https://colab.research.google.com/github/GaLLiTo34/tps-pii-colab/blob/main/set_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
estudiantes = [
    {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'},
    {'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'},
    {'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'},
    {'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'},
    {'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},  # Repetido
    {'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'},
    {'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'},
    {'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'},
    {'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'},
    {'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},  # Repetido
    {'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'},
    {'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'},
    {'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'},
    {'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'},
    {'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'},
    {'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'},
    {'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'},
    {'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'},
    {'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'},
    {'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'},
    {'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},  # Repetido
    {'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'},
    {'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'},
    {'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'},
    {'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'},
    {'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'},
    {'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'},
    {'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'},
    {'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'},
    {'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'},
    {'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'},
    {'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'},
    {'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'},
    {'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},  # Repetido
    {'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'},
    {'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'},
    {'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'},
    {'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'},
    {'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'},
    {'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'},
    {'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'},
    {'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'},
    {'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'},
    {'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'},
    {'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'},
    {'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'},
    {'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'},
    {'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'},
    {'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'},
    {'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'},
    {'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}  # Repetido
]

In [ ]:
# Spoiler de estructura que veremos en los siguientes TPs
import json
for estudiante in estudiantes:
  alumno_json = json.dumps(estudiante,indent=4,ensure_ascii=False)
  print(alumno_json,",")

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Dada la lista de estudiantes, elimina los elementos repetidos de la misma, usando para ello una estructura set. El resultado final debe ser una lista, con la misma estructura de la original, pero sin datos repetidos.

Para esto tener en cuenta que:
- Los conjuntos solo pueden almacenar datos inmutables.
- Los diccionarios son estructuras mutables.
- dict.items() devuelve una lista de tuplas.
- dict(tupla) genera un diccionario, donde el primer elemento de la tupla es la clave, y el segundo el valor. Ej:
  -
  ```python
  dict([("Alberto", 10), ("José", 7), ("Dario", 14), ("Ana", 8), ("Maria", 9), ("Emilia", 10)])

  va a generar el siguiente diccionario:

  ```python
  {'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10}
  ```

In [4]:
lista_tuplas = []
estudiantes_sin_repetidos = []
for estudiante in estudiantes:
  tupla = tuple(estudiante.items())
  lista_tuplas.append(tupla)
conjunto_tuplas = set(lista_tuplas)
print(conjunto_tuplas)
for estudiante in conjunto_tuplas:
  un_estudiante = dict(estudiante)
  estudiantes_sin_repetidos.append(un_estudiante)
for estudiante in estudiantes_sin_repetidos:
  print(estudiante)

{(('name', 'Merluzzi Dagum, Ignacio'), ('section', 'C'), ('dob', '22/12/2005')), (('name', 'Zalazar, Santino Stefano'), ('section', 'D'), ('dob', '30/09/2006')), (('name', 'Arenas, Lucas Gabriel'), ('section', 'D'), ('dob', '26/06/2007')), (('name', 'Abud Laspiur, Lourdes Mariel'), ('section', 'C'), ('dob', '05/12/2006')), (('name', 'Retamal Cisneros, Zacarias Josue'), ('section', 'D'), ('dob', '24/02/2007')), (('name', 'Sanchez Flores, Matías Agustín'), ('section', 'C'), ('dob', '15/02/2007')), (('name', 'Alurralde, Solange Stefania'), ('section', 'D'), ('dob', '02/04/2007')), (('name', 'Anaquin, Leonardo Ezequiel'), ('section', 'C'), ('dob', '06/09/2005')), (('name', 'Messina, Martina'), ('section', 'C'), ('dob', '13/07/2005')), (('name', 'Lezcano, Celia Morena'), ('section', 'D'), ('dob', '01/07/2005')), (('name', 'Araoz Sanchez, Lautaro Nahuel'), ('section', 'C'), ('dob', '28/12/2005')), (('name', 'Giangreco, Vitto Tomasso'), ('section', 'C'), ('dob', '21/03/2007')), (('name', 'Virgillito, Katya Milena'), ('section', 'C'), ('dob', '19/06/2007')), (('name', 'Argañaraz, Agostina Abril'), ('section', 'C'), ('dob', '11/10/2006')), (('name', 'Portella Valdivia, Pedro Francisco'), ('section', 'D'), ('dob', '24/01/2007')), (('name', 'Tapia, Martin Gabriel'), ('section', 'C'), ('dob', '30/05/2006')), (('name', 'Diaz, Dulce Maitena'), ('section', 'C'), ('dob', '11/12/2006')), (('name', 'Voltolini, Emanuel Tobias'), ('section', 'D'), ('dob', '17/09/2006')), (('name', 'Mamani Garrido, Rosario Agostina'), ('section', 'C'), ('dob', '24/10/2006')), (('name', 'Bracamonte Martinez, Salvador'), ('section', 'C'), ('dob', '02/11/2005')), (('name', 'Galvan, Lourdes Yamila'), ('section', 'C'), ('dob', '19/08/2005')), (('name', 'Flores Cardozo, Agustina Tiara'), ('section', 'C'), ('dob', '18/03/2006')), (('name', 'Lopez, Victoria Constanza'), ('section', 'C'), ('dob', '12/11/2007')), (('name', 'Rasuk, Karim'), ('section', 'C'), ('dob', '13/07/2007')), (('name', 'Salem Barba, Mahia'), ('section', 'D'), ('dob', '14/10/2005')), (('name', 'Scarano, Renato Marcelo'), ('section', 'C'), ('dob', '06/12/2006')), (('name', 'Vilte, Mia Antonella Alondra'), ('section', 'C'), ('dob', '10/09/2005')), (('name', 'Villalba, Irina'), ('section', 'D'), ('dob', '09/09/2006')), (('name', 'Barrozo Vedia, Joaquin Nicolas'), ('section', 'C'), ('dob', '15/04/2006')), (('name', 'Colque Rivero, Ariana Zoe Del Valle'), ('section', 'C'), ('dob', '27/12/2006')), (('name', 'Gallo, Octavio Ismael'), ('section', 'C'), ('dob', '04/08/2006')), (('name', 'Alvarado, Ludmila Del Milagro'), ('section', 'D'), ('dob', '06/09/2006')), (('name', 'Caseres, Maria Antonia'), ('section', 'D'), ('dob', '01/07/2006')), (('name', 'Martinez, Tomas Andres'), ('section', 'D'), ('dob', '22/03/2007')), (('name', 'Grancara, Martina Luna'), ('section', 'C'), ('dob', '15/12/2006')), (('name', 'Castillo, Paulina Milagros'), ('section', 'D'), ('dob', '01/06/2007')), (('name', 'Correa Segovia, Hugo Mariano'), ('section', 'D'), ('dob', '04/12/2006')), (('name', 'Lacour Polo, Nazarena'), ('section', 'D'), ('dob', '19/12/2005')), (('name', 'Jaime, Anita Maria Belen'), ('section', 'D'), ('dob', '19/04/2007')), (('name', 'Barrera, Matias Ezequiel'), ('section', 'C'), ('dob', '27/02/2007')), (('name', 'Bettinelli, Valentino'), ('section', 'C'), ('dob', '12/07/2006')), (('name', 'Guanca, Sara Elizabeth'), ('section', 'C'), ('dob', '17/01/2007')), (('name', 'Geronimo Soriano, Lizzie Amaya'), ('section', 'D'), ('dob', '20/01/2007')), (('name', 'Guzman, Jazmin Esmeralda Belen'), ('section', 'D'), ('dob', '31/07/2006')), (('name', 'Angel, Camila Juliana'), ('section', 'D'), ('dob', '07/03/2007')), (('name', 'Guzman, Angélica Morena'), ('section', 'D'), ('dob', '11/04/2007')), (('name', 'Sierra, Lucas Mauricio'), ('section', 'C'), ('dob', '03/04/2005')), (('name', 'Lascano Guanca, Marcelo Fabricio'), ('section', 'D'), ('dob', '17/02/2006')), (('name', 'Figueroa, Santino Josue'), ('section', 'C'), ('dob', '12/05/2007')), (('name', 'Rosales, Francisco Gabriel'), ('section', 'D'), ('dob', '14/11/2006')), (('name', 'Flores, Victoria Agustina'), ('section', 'D'), ('dob', '12/12/2006')), (('name', 'Marinaro, Martin Ezequiel'), ('section', 'C'), ('dob', '03/11/2006')), (('name', 'Soto Camara, Agustin Ignacio'), ('section', 'D'), ('dob', '07/11/2005')), (('name', 'Amador, Luana Micaela'), ('section', 'C'), ('dob', '09/12/2006')), (('name', 'D Elia, Alvaro Tadeo'), ('section', 'D'), ('dob', '27/08/2006')), (('name', 'Rios, Lucia Magali'), ('section', 'C'), ('dob', '22/09/2006'))}
{'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'}
{'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}
{'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'}
{'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'}
{'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'}
{'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'}
{'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'}
{'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'}
{'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'}
{'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'}
{'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'}
{'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'}
{'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'}
{'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'}
{'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'}
{'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'}
{'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'}
{'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'}
{'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'}
{'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'}
{'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'}
{'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'}
{'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'}
{'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'}
{'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'}
{'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'}
{'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'}
{'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'}
{'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'}
{'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'}
{'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'}
{'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'}
{'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'}
{'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'}
{'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'}
{'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'}
{'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'}
{'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'}
{'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'}
{'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'}
{'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'}
{'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'}
{'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'}
{'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'}
{'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'}
{'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'}
{'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'}
{'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'}
{'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'}
{'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'}
{'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'}
{'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'}
{'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'}
{'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'}
{'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'}
{'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'}

2. Crea un conjunto de nombres y otro de apellidos para 5C y  para 5D.
- Muestra los conjuntos generados

> recordá que los conjuntos solo pueden almacenar datos inmutables

In [5]:
nombres_5c = set()
apellidos_5c = set()
nombres_5d = set()
apellidos_5d = set()
for estudiante in estudiantes:
  nombre_completo = estudiante["name"]
  apellido,nombre = nombre_completo.split(",")
  apellidos = apellido.split(" ")
  nombres = nombre.strip().split(" ")
  if estudiante["section"] == "C":
    for nombre in nombres:
      nombres_5c.add(nombre)
    for apellido in apellidos:
      apellidos_5c.add(apellido)
  else:
    for nombre in nombres:
      nombres_5d.add(nombre)
    for apellido in apellidos:
      apellidos_5d.add(apellido)
print(f"{nombres_5c= }")
print(f"{apellidos_5c= }")
print(f"{nombres_5d= }")
print(f"{apellidos_5d= }")

nombres_5c= {'Micaela', 'Maitena', 'Agustina', 'Josue', 'Agustín', 'Alondra', 'Antonella', 'Nahuel', 'Sara', 'Dulce', 'Valle', 'Lucia', 'Lucas', 'Luna', 'Mariel', 'Valentino', 'Martin', 'Karim', 'Vitto', 'Abril', 'Marcelo', 'Ignacio', 'Ezequiel', 'Salvador', 'Tiara', 'Ismael', 'Elizabeth', 'Magali', 'Matías', 'Leonardo', 'Mia', 'Mauricio', 'Joaquin', 'Del', 'Victoria', 'Rosario', 'Ariana', 'Agostina', 'Luana', 'Matias', 'Martina', 'Santino', 'Lourdes', 'Constanza', 'Katya', 'Renato', 'Yamila', 'Gabriel', 'Tomasso', 'Lautaro', 'Zoe', 'Nicolas', 'Milena', 'Octavio'}
apellidos_5c= {'Araoz', 'Merluzzi', 'Lopez', 'Vilte', 'Barrera', 'Galvan', 'Sanchez', 'Mamani', 'Virgillito', 'Diaz', 'Colque', 'Figueroa', 'Dagum', 'Grancara', 'Flores', 'Abud', 'Tapia', 'Amador', 'Garrido', 'Messina', 'Martinez', 'Sierra', 'Cardozo', 'Bettinelli', 'Scarano', 'Giangreco', 'Rivero', 'Anaquin', 'Gallo', 'Marinaro', 'Bracamonte', 'Barrozo', 'Vedia', 'Argañaraz', 'Guanca', 'Rasuk', 'Laspiur', 'Rios'}
nombres_5d= {'Agustina', 'Josue', 'Juliana', 'Alvaro', 'Francisco', 'Zacarias', 'Irina', 'Lucas', 'Milagros', 'Nazarena', 'Agustin', 'Antonia', 'Solange', 'Andres', 'Celia', 'Tomas', 'Maria', 'Mariano', 'Camila', 'Belen', 'Milagro', 'Jazmin', 'Marcelo', 'Stefania', 'Anita', 'Paulina', 'Ignacio', 'Esmeralda', 'Lizzie', 'Ludmila', 'Emanuel', 'Del', 'Victoria', 'Amaya', 'Santino', 'Mahia', 'Tobias', 'Hugo', 'Gabriel', 'Pedro', 'Stefano', 'Fabricio', 'Angélica', 'Morena', 'Tadeo'}
apellidos_5d= {'Jaime', 'Alurralde', 'Lascano', 'Correa', 'Lacour', 'Guzman', 'Soriano', 'Rosales', 'Camara', 'Alvarado', 'Flores', 'Geronimo', 'D', 'Cisneros', 'Elia', 'Martinez', 'Castillo', 'Polo', 'Segovia', 'Barba', 'Villalba', 'Lezcano', 'Soto', 'Voltolini', 'Arenas', 'Caseres', 'Guanca', 'Portella', 'Angel', 'Zalazar', 'Retamal', 'Salem', 'Valdivia'}

3. Muestra cuantos nombres únicos hay en cada curso.

In [10]:
lista_nombres_c = []
for estudiante in estudiantes_sin_repetidos:
  if estudiante["section"] == "C":
    nombre_completo = estudiante["name"]
    apellido, nombre = nombre_completo.split(",")
    nombres = nombre.split(" ")
    for nombre in nombres:
     lista_nombres_c.append(nombre)
ocurrencias = {}
for nombre in lista_nombres_c:
  if nombre in ocurrencias:
   ocurrencias[nombre] += 1
  else:
   ocurrencias[nombre] = 1
for nombre,ocurrencias in ocurrencias.items():
  if ocurrencias == 1:
   print({nombre})

{'Ignacio'}
{'Mariel'}
{'Matías'}
{'Agustín'}
{'Leonardo'}
{'Lautaro'}
{'Nahuel'}
{'Vitto'}
{'Tomasso'}
{'Katya'}
{'Milena'}
{'Abril'}
{'Gabriel'}
{'Dulce'}
{'Maitena'}
{'Rosario'}
{'Salvador'}
{'Yamila'}
{'Agustina'}
{'Tiara'}
{'Victoria'}
{'Constanza'}
{'Karim'}
{'Renato'}
{'Marcelo'}
{'Mia'}
{'Antonella'}
{'Alondra'}
{'Joaquin'}
{'Nicolas'}
{'Ariana'}
{'Zoe'}
{'Del'}
{'Valle'}
{'Octavio'}
{'Ismael'}
{'Luna'}
{'Matias'}
{'Valentino'}
{'Sara'}
{'Elizabeth'}
{'Lucas'}
{'Mauricio'}
{'Santino'}
{'Josue'}
{'Luana'}
{'Micaela'}
{'Lucia'}
{'Magali'}

In [9]:
lista_nombres_d = []
for estudiante in estudiantes_sin_repetidos:
  if estudiante["section"] == "D":
    nombre_completo = estudiante["name"]
    apellido, nombre = nombre_completo.split(",")
    nombres = nombre.split(" ")
    for nombre in nombres:
      lista_nombres_d.append(nombre)
ocurrencias= {}
for nombre in lista_nombres_d:
  if nombre in ocurrencias:
   ocurrencias[nombre] += 1
  else:
   ocurrencias[nombre] = 1
for nombre,ocurrencias in ocurrencias.items():
  if ocurrencias == 1:
   print({nombre})

{'Santino'}
{'Stefano'}
{'Lucas'}
{'Zacarias'}
{'Josue'}
{'Solange'}
{'Stefania'}
{'Celia'}
{'Pedro'}
{'Emanuel'}
{'Tobias'}
{'Mahia'}
{'Irina'}
{'Ludmila'}
{'Del'}
{'Milagro'}
{'Antonia'}
{'Tomas'}
{'Andres'}
{'Paulina'}
{'Milagros'}
{'Hugo'}
{'Mariano'}
{'Nazarena'}
{'Anita'}
{'Lizzie'}
{'Amaya'}
{'Jazmin'}
{'Esmeralda'}
{'Camila'}
{'Juliana'}
{'Angélica'}
{'Marcelo'}
{'Fabricio'}
{'Victoria'}
{'Agustina'}
{'Agustin'}
{'Ignacio'}
{'Alvaro'}
{'Tadeo'}

4. Muestra cuantos apellidos únicos hay en cada curso.

In [11]:
lista_apellidos_c = []
for estudiante in estudiantes_sin_repetidos:
  if estudiante["section"] == "C":
    nombre_completo = estudiante["name"]
    apellido, nombre = nombre_completo.split(",")
    apellidos = apellido.split(" ")
    for apellido in apellidos:
      lista_apellidos_c.append(apellido)
ocurrencias = {}
for apellido in lista_apellidos_c:
  if apellido in ocurrencias:
   ocurrencias[apellido] += 1
  else:
   ocurrencias[apellido] = 1
for apellido,ocurrencias in ocurrencias.items():
  if ocurrencias == 1:
   print({apellido})

{'Merluzzi'}
{'Dagum'}
{'Abud'}
{'Laspiur'}
{'Anaquin'}
{'Messina'}
{'Araoz'}
{'Giangreco'}
{'Virgillito'}
{'Argañaraz'}
{'Tapia'}
{'Diaz'}
{'Mamani'}
{'Garrido'}
{'Bracamonte'}
{'Martinez'}
{'Galvan'}
{'Cardozo'}
{'Lopez'}
{'Rasuk'}
{'Scarano'}
{'Vilte'}
{'Barrozo'}
{'Vedia'}
{'Colque'}
{'Rivero'}
{'Gallo'}
{'Grancara'}
{'Barrera'}
{'Bettinelli'}
{'Guanca'}
{'Sierra'}
{'Figueroa'}
{'Marinaro'}
{'Amador'}
{'Rios'}

In [12]:
lista_apellidos_d = []
for estudiante in estudiantes_sin_repetidos:
  if estudiante["section"] == "D":
    nombre_completo = estudiante["name"]
    apellido, nombre = nombre_completo.split(",")
    apellidos = apellido.split(" ")
    for apellido in apellidos:
      lista_apellidos_d.append(apellido)
ocurrencias = {}
for apellido in lista_apellidos_d:
  if apellido in ocurrencias:
   ocurrencias[apellido] += 1
  else:
   ocurrencias[apellido] = 1
for apellido,ocurrencias in ocurrencias.items():
  if ocurrencias == 1:
   print({apellido})

{'Zalazar'}
{'Arenas'}
{'Retamal'}
{'Cisneros'}
{'Alurralde'}
{'Lezcano'}
{'Portella'}
{'Valdivia'}
{'Voltolini'}
{'Salem'}
{'Barba'}
{'Villalba'}
{'Alvarado'}
{'Caseres'}
{'Martinez'}
{'Castillo'}
{'Correa'}
{'Segovia'}
{'Lacour'}
{'Polo'}
{'Jaime'}
{'Geronimo'}
{'Soriano'}
{'Angel'}
{'Lascano'}
{'Guanca'}
{'Rosales'}
{'Flores'}
{'Soto'}
{'Camara'}
{'D'}
{'Elia'}

5. Mostrá los nombres que se aparecen em ambos cursos

In [15]:
nombres_ambos_cursos = nombres_5c.intersection(nombres_5d)
print(f" Los nombres que aparencen en ambos cursos son: {nombres_ambos_cursos}")

 Los nombres que aparencen en ambos cursos son: {'Ignacio', 'Agustina', 'Josue', 'Gabriel', 'Victoria', 'Del', 'Lucas', 'Marcelo', 'Santino'}

6. Mostrá los apellidos que se aparecen en ambos cursos

In [17]:
apellido_ambos_cursos = apellidos_5c.intersection(apellidos_5d)
print(f" Los nombres que aparencen en ambos cursos son: {apellido_ambos_cursos}")

 Los nombres que aparencen en ambos cursos son: {'Martinez', 'Flores', 'Guanca'}

7. Mostrá los nombres de los estudiantes de 5C que no existen en 5D y viceversa.

In [18]:
nombres_5c_no_en_5d = nombres_5c.difference(nombres_5d)
nombres_5d_no_en_5c = nombres_5d.difference(nombres_5c)
print(f"Los nombres de los estudiantes de 5C que no existen en 5D son: {nombres_5c_no_en_5d}")
print(f"Los nombres de los estudiantes de 5D que no existen en 5C son: {nombres_5d_no_en_5c}")

Los nombres de los estudiantes de 5C que no existen en 5D son: {'Micaela', 'Maitena', 'Agustín', 'Alondra', 'Antonella', 'Nahuel', 'Sara', 'Dulce', 'Lucia', 'Valle', 'Luna', 'Mariel', 'Valentino', 'Martin', 'Karim', 'Vitto', 'Abril', 'Ezequiel', 'Salvador', 'Tiara', 'Ismael', 'Elizabeth', 'Magali', 'Matías', 'Leonardo', 'Mia', 'Mauricio', 'Joaquin', 'Rosario', 'Ariana', 'Agostina', 'Luana', 'Matias', 'Martina', 'Lourdes', 'Constanza', 'Katya', 'Renato', 'Yamila', 'Tomasso', 'Lautaro', 'Zoe', 'Nicolas', 'Milena', 'Octavio'}
Los nombres de los estudiantes de 5D que no existen en 5C son: {'Juliana', 'Alvaro', 'Francisco', 'Zacarias', 'Irina', 'Milagros', 'Nazarena', 'Agustin', 'Antonia', 'Solange', 'Andres', 'Celia', 'Tomas', 'Maria', 'Mariano', 'Camila', 'Belen', 'Milagro', 'Jazmin', 'Stefania', 'Anita', 'Paulina', 'Esmeralda', 'Lizzie', 'Ludmila', 'Emanuel', 'Amaya', 'Mahia', 'Tobias', 'Hugo', 'Pedro', 'Stefano', 'Fabricio', 'Angélica', 'Morena', 'Tadeo'}

8. Mostrá los apellidos de los estudiantes de 5C que no existen en 5D y viceversa.

In [20]:
apellidos_5c_no_en_5d = apellidos_5c.difference(apellidos_5d)
apellidos_5d_no_en_5c = apellidos_5d.difference(apellidos_5c)
print(f"Los apellidos de los estudiantes de 5C que no existen en 5D son: {apellidos_5c_no_en_5d}")
print(f"Los apellidos de los estudiantes de 5D que no existen en 5C son: {apellidos_5d_no_en_5c}")

Los apellidos de los estudiantes de 5C que no existen en 5D son: {'Araoz', 'Merluzzi', 'Lopez', 'Vilte', 'Barrera', 'Galvan', 'Mamani', 'Sanchez', 'Virgillito', 'Diaz', 'Colque', 'Figueroa', 'Dagum', 'Grancara', 'Abud', 'Tapia', 'Amador', 'Garrido', 'Messina', 'Sierra', 'Cardozo', 'Bettinelli', 'Scarano', 'Giangreco', 'Rivero', 'Anaquin', 'Gallo', 'Marinaro', 'Bracamonte', 'Barrozo', 'Vedia', 'Argañaraz', 'Rasuk', 'Laspiur', 'Rios'}
Los apellidos de los estudiantes de 5D que no existen en 5C son: {'Jaime', 'Alurralde', 'Lascano', 'Correa', 'Lacour', 'Soriano', 'Guzman', 'Rosales', 'Camara', 'Alvarado', 'Salem', 'Geronimo', 'D', 'Cisneros', 'Elia', 'Castillo', 'Polo', 'Segovia', 'Barba', 'Villalba', 'Lezcano', 'Soto', 'Arenas', 'Caseres', 'Portella', 'Angel', 'Zalazar', 'Retamal', 'Voltolini', 'Valdivia'}

9. Mostrá todos los nombres, menos aquellos que existen en ambos cursos.

In [21]:
nombres_informatica = nombres_5c.union(nombres_5d)
nombres_iguales = nombres_5c.intersection(nombres_5d)
nombres_finales = nombres_informatica.difference(nombres_iguales)
print(f"Todos los nombres, menos aquellos que existen en ambos cursos son: {nombres_finales}")

Todos los nombres, menos aquellos que existen en ambos cursos son: {'Agustín', 'Sara', 'Juliana', 'Zacarias', 'Luna', 'Mariel', 'Milagros', 'Nazarena', 'Andres', 'Celia', 'Maria', 'Mariano', 'Milagro', 'Abril', 'Stefania', 'Ezequiel', 'Paulina', 'Elizabeth', 'Matías', 'Mia', 'Mauricio', 'Emanuel', 'Joaquin', 'Rosario', 'Agostina', 'Luana', 'Amaya', 'Constanza', 'Katya', 'Renato', 'Yamila', 'Hugo', 'Lautaro', 'Milena', 'Micaela', 'Maitena', 'Alondra', 'Antonella', 'Nahuel', 'Alvaro', 'Dulce', 'Francisco', 'Valle', 'Lucia', 'Irina', 'Agustin', 'Antonia', 'Solange', 'Valentino', 'Martin', 'Tomas', 'Karim', 'Vitto', 'Camila', 'Belen', 'Jazmin', 'Anita', 'Salvador', 'Tiara', 'Esmeralda', 'Ismael', 'Magali', 'Lizzie', 'Leonardo', 'Ludmila', 'Ariana', 'Martina', 'Matias', 'Lourdes', 'Mahia', 'Tobias', 'Pedro', 'Tomasso', 'Zoe', 'Nicolas', 'Stefano', 'Fabricio', 'Octavio', 'Angélica', 'Morena', 'Tadeo'}

10. elimina tu nombre del conjunto al que pertenece

In [ ]:

nombre = input("Ingrese su nombre: ").title()
if nombre in nombres_5c:
  nombres_5c.remove(nombre)
  print(f"Se eliminó el nombre '{nombre}' del conjunto de nombres de 5C.")
elif nombre in nombres_5d:
  nombres_5d.remove(nombre)
  print(f"Se eliminó  el nombre '{nombre}' del conjunto de nombres de 5D.")
else:
  print(f"El nombre '{nombre}' no se encontró en ningún conjunto.")

print(f"{nombres_5c= }")
print(f"{nombres_5d= }")

11. Solicita al usuario un nombre y un apellido y agregalos a los correspondientes conjuntos de tu curso.

In [32]:
nombre_nuevo = input("Ingrese un nombre: ").title()
apellido_nuevo = input("Ingrese un apellido: ").title()

curso = input("Ingrese su curso (C o D): ").upper()

if curso == "C":
  nombres_5c.add(nombre_nuevo)
  apellidos_5c.add(apellido_nuevo)
elif curso == "D":
  nombres_5d.add(nombre_nuevo)
  apellidos_5d.add(apellido_nuevo)
else:
  print("Curso inválido. Ingrese C o D.")

print(f"Nombres 5C: {nombres_5c}")
print(f"Apellidos 5C: {apellidos_5c}")
print(f"Nombres 5D: {nombres_5d}")
print(f"Apellidos 5D: {apellidos_5d}")

Ingrese un nombre: Pablo
Ingrese un apellido: ESCobar
Ingrese su curso (C o D): c
Nombres 5C: {'Micaela', 'Maitena', 'Agustina', 'Josue', 'Agustín', 'Alondra', 'Antonella', 'Nahuel', 'Sara', 'Pablo', 'Dulce', 'Valle', 'Lucia', 'Lucas', 'Luna', 'Mariel', 'Valentino', 'Martin', 'Karim', 'Vitto', 'Abril', 'Marcelo', 'Ignacio', 'Ezequiel', 'Salvador', 'Tiara', 'Ismael', 'Elizabeth', 'Magali', 'Matías', 'Leonardo', 'Mia', 'Mauricio', 'Joaquin', 'Del', 'Victoria', 'Rosario', 'Ariana', 'Agostina', 'Luana', 'Matias', 'Martina', 'Santino', 'Lourdes', 'Constanza', 'Katya', 'Renato', 'Yamila', 'Gabriel', 'Tomasso', 'Lautaro', 'Zoe', 'Nicolas', 'Milena', <built-in method title of str object at 0x7899051b46b0>}
Apellidos 5C: {'Araoz', 'Merluzzi', 'Lopez', 'Vilte', 'Barrera', 'Galvan', 'Sanchez', 'Mamani', 'Virgillito', 'Diaz', 'Colque', 'Figueroa', 'Dagum', 'Grancara', 'Flores', 'Abud', 'Tapia', 'Amador', 'Garrido', 'Messina', 'Martinez', 'Sierra', 'Cardozo', 'Bettinelli', 'Scarano', 'Giangreco', 'Rivero', <built-in method title of str object at 0x789905129470>, 'Anaquin', 'Gallo', 'Marinaro', 'Bracamonte', 'Barrozo', 'Vedia', 'Argañaraz', 'Guanca', 'Rasuk', 'Escobar', 'Laspiur', 'Rios'}
Nombres 5D: {'Agustina', 'Josue', 'Juliana', 'Alvaro', 'Francisco', 'Zacarias', 'Irina', 'Lucas', 'Milagros', 'Nazarena', 'Agustin', 'Antonia', 'Solange', 'Andres', 'Celia', 'Tomas', 'Maria', 'Mariano', 'Camila', 'Belen', 'Milagro', 'Jazmin', 'Marcelo', 'Stefania', 'Anita', 'Paulina', 'Ignacio', 'Esmeralda', 'Lizzie', 'Ludmila', 'Emanuel', 'Del', 'Victoria', 'Amaya', 'Santino', 'Mahia', 'Tobias', 'Hugo', 'Gabriel', 'Pedro', 'Stefano', 'Fabricio', 'Angélica', 'Morena', 'Tadeo'}
Apellidos 5D: {'Jaime', 'Alurralde', 'Lascano', 'Correa', 'Lacour', 'Guzman', 'Soriano', 'Rosales', 'Camara', 'Alvarado', 'Flores', 'Geronimo', 'D', 'Cisneros', 'Elia', 'Martinez', 'Castillo', 'Polo', 'Segovia', 'Barba', 'Villalba', 'Lezcano', 'Soto', 'Voltolini', 'Arenas', 'Caseres', 'Guanca', 'Portella', 'Angel', 'Zalazar', 'Retamal', 'Salem', 'Valdivia'}

12. Solicita un nombre y verifica si este existe en el diccionario

In [33]:
nombre_buscado = input("Ingrese un nombre para buscar: ").title()
encontrado = False
for estudiante in estudiantes:
  nombre_completo = estudiante["name"]
  apellido, nombre = nombre_completo.split(",")
  nombres = nombre.strip().split(" ")
  if nombre_buscado in nombres:
    encontrado = True
    break
if encontrado:
  print(f"El nombre {nombre_buscado} existe en el diccionario.")
else:
  print(f"El nombre {nombre_buscado} no existe en el diccionario.")

Ingrese un nombre para buscar: ocTavio
El nombre Octavio existe en el diccionario.